* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F0F4F5;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

ul {
    display: flex;
    gap: 3.5rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7.5rem 1rem 4.5rem;
    height: 15vh;
}

.logo img {
    height: 53px;
}

header nav ul li a {
    font-weight: 600;
    font-size: 17.5px;
    transition: all 0.2s;
}

header nav ul li:first-child a {
    color: #20BC7E;
}

header nav ul li a:hover {
    color: #20BC7E;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main section {
    width: 50%;
}

.left {
    margin-top: 30px;
    position: relative;
    margin-left: 5%;
}

.top-angle img {
    position: absolute;
    width: 30px;
}

.left h1 {
    margin-top: 2rem;
    font-size: 4.9rem;
    line-height: 100px;
    font-weight: 700;
}

.left p {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #2525259b;
}

.left a {
    position: relative;
    bottom: -3rem;
    background-color: #20BC7E;
    color: #fff;
    padding: 18px 50px;
    font-size: 26px;
    font-weight: 700;
    border: none;
    border-radius: 4rem;
    transition: all 0.3s;
}

.left a:hover {
    color: #20BC7E;
    background-color: #fff;
    border: 1.5px solid #20BC7E;
    box-shadow: 1px 5px 5px #bcbabaa1;
}

.bottom-angle img {
    position: absolute;
    width: 30px;
    bottom: -10px;
    right: 2.2rem;
}

.mouse {
    position: absolute;
    right: -20px;
    bottom: -3.2rem;
}

.stetho {
    position: absolute;
    height: 39.5rem;
    right: -11rem;
    top: -80px;
}

.right {
    position: relative;
    right: 0;
}

.yellow {
    position: absolute;
    right: 0px;
    bottom: -21rem;
    height: 27rem;
    z-index: 1;
}

.green {
    position: absolute;
    right: 1.5rem;
    bottom: -21.2rem;
    height: 30rem;
}

.doc-img {
    position: absolute;
    height: 40rem;
    right: 1.5rem;
    bottom: -22.5rem;
    z-index: 10;
}