* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111827;
    color: #fff;
}

img {
    cursor: pointer;
    ;
}

ul li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

/* header */

header nav {
    margin: 16px;
}

header .menu-bar {
    font-size: 23px;
    display: none;
}

.home {
    background-color: #6464E0;
    padding: 5px 10px;
    border-radius: 16px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 30px;
}

/* main section */

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
}

.left-line1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-line1 img {
    height: 35px;
}

.left-line1 h1 {
    font-size: 28px;
}

.left-line2 h1 {
    font-size: 48px;
}

.left-line2 h2 {
    margin-top: 13px;
    color: #FFDC5D;
}

.right img {
    height: 36rem;
}


/* project section */

.project-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.main-head h1 {
    font-size: 30px;
}

.line {
    border: none;
    border-radius: 4px;
    background-color: #0000FF;
    height: 4px;
    width: 6.5rem;
}

.main-images {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 22px 35px;
}

.sin-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sin-image img {
    height: 15rem;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 30px 0 20px 0;
}

.contact h1 {
    font-size: 28px;
}

.line-2 {
    border: none;
    border-radius: 4px;
    background-color: #0000FF;
    height: 4px;
    width: 8.7rem;
}

.social {
    font-size: 22px;
    display: flex;
    gap: 20px;
}

/* media queries */

@media screen and (max-width : 1024px) {
    .left-line2 h1 {
        font-size: 35px
    }

    .right img {
        height: 26rem;
    }

    .sin-image img {
        height: 12rem;
    }
}

@media screen and (max-width : 768px) {

    .main {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 40px;
    }

    .left-line1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .left-line2 h1 {
        font-size: 30px
    }

    .right img {
        height: 18rem;
    }

    .main-images {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 22px;
    }

    .sin-image img {
        height: 11rem;
    }

}

@media screen and (max-width : 426px) {

    header .menu-bar {
        display: block;
    }

    header nav ul {
        display: none;
    }

    .main-images {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        gap: 22px;
    }

    .sin-image img {
        height: 15rem;
    }

}